{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    // тут прописываются правила для Eslint
    // например
    // "semi": "off" - убрать точки с запятыми
    // "arrow-parens": "off" - убрать круглые сскобки со стрелочной функции
    "require-jsdoc": "off", // не писать доки => async function start()
    "object-curly-spacing": "off",
    "linebreak-style": "off",
   //"max-len": "warn",
    "max-len": ["error", { "code": 120 }],
//    "spaced-comment": "off"
  },
  "extends": ["eslint:recommended", "google"]
}